   <div class="box">

        <div class="box_greeting">

            <ng-include src="'views/template/topBar.html'"></ng-include>    

            <ng-include src="'views/template/logoMain.html'"></ng-include>       

            <ng-include src="'views/template/mainOffers.html'"></ng-include> 

            <ng-include src="'views/template/getType.html'"></ng-include>   

            <ng-include src="'views/template/mainPageBaner.html'"></ng-include>   

            <ng-include src="'views/template/vipBlock.html'"></ng-include>  

            <ng-include src="'views/template/result.html'"></ng-include>    

            <ng-include src="'views/template/rules.html'"></ng-include> 

            <ng-include src="'views/template/footer.html'"></ng-include> 

        </div>

        <div class="box_settings" id="settings">

                <div class="slide_1">

                <ng-include src="'views/template/settings/logoMain.html'"></ng-include>

                    <div class="title_settings">
                        
                        <p>ПЕРСОНАЛЬНЫЕ НАСТРОЙКИ</p>
                        <p>
                            Здесь Вы можете создать своего КИТА,<br>
                            изменяя параметры настроек.
                        </p>
                        <p>
                            Для того чтобы воспользоваться полной версией редактора,<br>
                            мы рекомендуем <a target="_self" href="">зарегистрироваться</a> на сайте.
                        </p>

                        <a href="" class="title_settings_arrow to_block_2" target="_self">
                           <!--  <i class="fa fa-angle-up" aria-hidden="true"></i><br> -->
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <div class="title_settings_dott">
                            .<br>.<br>.<br>.<br>.<br>.<br>.
                        </div>
                    </div>
                </div>
        <div class="slide_2" id="slide_2">
                <a href="" class="slide_2_arrow to_block_3" target="_self">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>

            <div class="slide_2_benefit">
                <p class="slide_2_benefit_title">Выгода:</p>
                <div class="slide_2_benefit_img">
                <img src="img/kit/kit-scroll.png" alt="">
            </div>
            <p class="slide_2_benefit_counter counter odometer"><span><ng-odometer value="benefit"></ng-odometer> </span> р.</p>
        </div>

    <ng-include src="'views/template/settings/banerSettings.html'"></ng-include>

        <a href="" class="scroll_top ex top_to_1" target="_self">
            <i class="fa fa-angle-up" aria-hidden="true"></i><br>
        </a>

        <div class="slide_2_wrapper">

            <div class="slide_2_wrapper_item">
                <div class="slide_2_wrapper_item_button">
                    <img src="img/arrow.png" class="arrow_left period_left" alt="" ng-click="oneStepKit(-1)">
                    <p class="name">Период:</p>
                    <p class="value_month">{{current.loyaltyTariff.period}} {{ ['месяц', 'месяца', 'месяцев', current.loyaltyTariff.period] | addEnding}}</p>
                    <img src="img/arrow.png" class="arrow_right period_right" alt="" ng-click="oneStepKit(1)">
                    <div class="question question_set_1">
                        <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" ? Датой начала использования программы считается дата оплаты (активации - в случае использования пробного периода).">?</a>
                    </div>
                </div>
                <div class="point_top"></div>
                
                <div class="point_first" ng-repeat="kit in allContent.offers" ng-style="{'left': getSettingPosition($index, allContent.offers.length)}" ng-click="changeCurrentKitInPeriod(kit)"><span>{{kit.loyaltyTariff.period}} м.</span></div>

                <div class="line"></div>
            </div>
            <div class="slide_2_wrapper_item">
                <div class="slide_2_wrapper_item_button">
                    <img src="img/arrow.png" class="arrow_left cost_left" alt="" ng-click="oneStepKit(-1)">
                    <p class="name">Стоимость:</p>
                    <p class="value_price">{{current.loyaltyTariff.cartPrice | numberSapce}} р.</p>
                    <img src="img/arrow.png" class="arrow_right cost_right" alt="" ng-click="oneStepKit(1)">
                    <!-- <input type="range" min="1" max="4"> -->
                    <div class="question question_set_2">
                        <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" ? Может быть оплачена в рублях безналичным/наличным платежом.">?</a>
                    </div>
                </div>
                <div class="point_top"></div>

                <div class="point_first" ng-repeat="kit in allContent.offers" ng-style="{'left': getSettingPosition($index, allContent.offers.length)}" ng-click="changeCurrentKitInPeriod(kit)"><span>{{kit.loyaltyTariff.cartPrice | numberSapce}} р.</span></div>

                <div class="line"></div>
            </div>
            <div class="slide_2_wrapper_item">
                <div class="slide_2_wrapper_item_button">
                    <img src="img/arrow.png" class="arrow_left purchase_left" alt="" ng-click="oneStepKit(-1)">
                    <p class="name">Объем закупки:</p>
                    <p class="value_summ">{{current.loyaltyTariff.maxVolume | numberSapce}} р.</p>
                    <img src="img/arrow.png" class="arrow_right purchase_right" alt="" ng-click="oneStepKit(1)">
                    <!-- <input type="range" min="1" max="4"> -->
                    <div class="question question_set_3">
                        <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" ? Максимальный объем закупки, то есть <br/> максимальная сумма заказа, в рамках которой </br>можно приобретать товары, размещенные на Сайте, <br/>пользуясь выгодами и опциями программы «КИТ».">?</a>
                    </div>
                </div> 
                <div class="point_top"></div>

                <div class="point_first" ng-repeat="kit in allContent.offers" ng-style="{'left': getSettingPosition($index, allContent.offers.length)}" ng-click="changeCurrentKitInPeriod(kit)"><span>{{kit.loyaltyTariff.maxVolume | numberSapce}}</span></div>

                <div class="line"></div>
            </div>

              <div class="slide_2_wrapper_point">
                    <div class="slide_2_wrapper_point_dott"></div>
                    <div class="slide_2_wrapper_point_dott"></div>
                    <div class="slide_2_wrapper_point_dott"></div>
                    <div class="slide_2_wrapper_point_dott"></div>
              </div>

        </div>

        <div class="slide_2_wrapper_colors">
            <div class="question question_set_4">
                <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" ? Каждый товар на сайте имеет свой цвет смайлика - зеленый (скидка 1%-3%), оранжевый (скидка 3%-6%), сиреневый (скидка 5%-10%) или белый (скидка 0%). Вступив в одну из программ и настроив свои опции, вы начнете получать скидки в соответствии с цветом цены товара. Здесь вы можете увидеть, какие скидки даёт программа по каждому цвету.">?</a>
            </div>
            <p>Скидка на товар с цветными ценниками:</p>
        </div>
         <div class="wrapper_smile_buttons clearfix">

            <div class="col-xs-4 text-center">
                <div class="smile-wrapper">
                    <img src="img/smile_green.png" alt=""> <span>{{getNewPersent(current.loyaltyTariff.greenDiscount)}}</span> %
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="smile-wrapper">
                    <img src="img/smile_orange.png" alt=""> <span>{{getNewPersent(current.loyaltyTariff.yellowDiscount)}}</span> %
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="smile-wrapper">
                    <img src="img/smile_purple.png" alt=""> <span>{{getNewPersent(current.loyaltyTariff.redDiscount)}}</span> %
                </div>
            </div>
               
        </div>
    </div>


  <div class="slide_3">


 <a href="" class="slide_3_arrow to_block_4" target="_self">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>

       <div class="slide_3_benefit">
            <p class="slide_3_benefit_title">Выгода:</p>
            <div class="slide_3_benefit_img">
                <img src="img/kit/kit-scroll.png" alt="">
            </div>
            <p class="slide_3_benefit_counter counter odometer"><span><ng-odometer value="benefit"></ng-odometer></span> р.</p>
      
    <ng-include src="'views/template/settings/banerSettings.html'"></ng-include>

        <div class="slide_3_wrapper">
        <a href="" class="scroll_top top_to_2" target="_self">
            <i class="fa fa-angle-up" aria-hidden="true"></i><br>
        </a>


            <div class="slide_3_wrapper_row_bottom">
                <div class="title">
                    <div class="question question_set_5">
                        <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" ? Срок, в течение которого товар будет зарезервирован за вами и ожидать вашей оплаты. Срок резерва считается как количество дней, включая день резерва, и заканчивается в 23:59.">?</a>

                    </div>
                    <div>Срок резерва</div>
                </div>
                <div class="point-wrapper">
                    <div class="left">
                        <div class="point_second_2 reserve_2" style="left: 0"></div>
                        <div class="line"></div>
                        <div class="point_left point_left_2" ng-repeat="res in resPeriodOptions.values | orderBy:'optionDiscount'" ng-style="{'left': getSettingOverPosition($index, resPeriodOptions.values.length)}" ng-click="changeResPeriod(res, 'currentResPeriod')">
                            <span>{{res.itemName}}</span>
                            <span>{{res.optionDiscount}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide_3_wrapper_row_bottom">
                <div class="title">
                    <div class="question question_set_5">
                        <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" ? Срок, в течение которого возможно вернуть товар, если он по каким-то причинам не подошел. СрокMoneyback считается как количество дней с момента отгрузки товара. XXL-бонусы начисляются по истечению срока действия сервиса «Moneyback». Подробнее о сервисе можно прочитать в разделе Сервис и поддержка – <a href='http://corp.ulmart.ru/about_b2b/spb/moneyback_b2b'>Moneyback </a>.">?</a>

                    </div>
                    <div>MoneyBack</div>
                </div>
                <div class="point-wrapper">
                    <div class="left">
                        <div class="point_second_2 reserve_3" style="left: 0"></div>
                        <div class="line"></div>
                        <div class="point_left point_left_3" ng-repeat="res in moneyBackOptions.values | orderBy:'optionDiscount'" ng-style="{'left': getSettingOverPosition($index, moneyBackOptions.values.length)}" ng-click="changeResPeriod(res, 'currentMoneyBack')">
                            <span>{{res.itemName}}</span>
                            <span>{{res.optionDiscount}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide_3_wrapper_row_bottom">
                <div class="title long">
                    <div class="question question_set_5">
                        <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title="? Предоплата – стандартный способ оплаты заказа. Отсрочка – возможность получения заказа до момента его оплаты">?</a>
                    </div>
                    <div>Условия оплаты</div>
                </div>
                <div class="point-wrapper">
                    <div class="left">
                        <div class="point_second_2 reserve_4" style="left: 0"></div>
                        <div class="line"></div>
                        <div class="point_left point_left_4" ng-repeat="res in payTypeOptions.values | orderBy:'optionDiscount'" ng-style="{'left': getSettingOverPosition($index, payTypeOptions.values.length)}" ng-click="changeResPeriod(res, 'currentPayType')">
                            <span>{{res.itemName}}</span>
                            <span>{{res.optionDiscount}}</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="slide_3_wrapper_colors">
           <div class="question_set_6 question">
                <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" ? Каждый товар на сайте имеет свой цвет смайлика - зеленый (скидка 1%-3%), оранжевый (скидка 3%-6%), сиреневый (скидка 5%-10%) или белый (скидка 0%). Вступив в одну из программ и настроив свои опции, вы начнете получать скидки в соответствии с цветом цены товара. Здесь вы можете увидеть, какие скидки даёт программа по каждому цвету.">?</a>
            </div>
            <p class="slide_3_wrapper_colors_title">Скидка на товар с цветными ценниками:</p>
        </div>
         <div class="wrapper_smile_buttons clearfix">

            <div class="col-xs-4 text-center">
                <div class="smile-wrapper">
                    <img src="img/smile_green.png" alt=""> <span>{{getNewPersent(current.loyaltyTariff.greenDiscount)}}</span> %
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="smile-wrapper">
                    <img src="img/smile_orange.png" alt=""> <span>{{getNewPersent(current.loyaltyTariff.yellowDiscount)}}</span> %
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="smile-wrapper">
                    <img src="img/smile_purple.png" alt=""> <span>{{getNewPersent(current.loyaltyTariff.redDiscount)}}</span> %
                </div>
            </div>
               
        </div>
       <!--  <div class="slide_3_dott">.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
            .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
            .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
            <br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
            .<br>.<br>.<br>.<br>.<br>
        </div> -->
  </div>

</div>

    <div class="slide_4">
        <div class="slide_4_benefit">
            <p class="slide_4_benefit_title">Выгода:</p>
            <div class="slide_4_benefit_img">
                <img src="img/kit/kit-scroll.png" alt="">
            </div>
            <p class="slide_4_benefit_counter counter odometer"><span><ng-odometer value="benefit"></ng-odometer></span> р.</p>

    <ng-include src="'views/template/settings/banerSettings.html'"></ng-include>


        <div class="slide_4_wrapper">

            <div class="vip-block" ng-if="false">

                    <div class="container_main vip-settings" >
                        <p>К выбранному киту вы можете <br /> добавить VIP клуб</p>
                        <div class="vip-bootom">
                            <img src="img/kit/On.png" alt="on" ng-click="toogleVip()" ng-if="vip">
                            <img src="img/kit/off.png" alt="off" ng-click="toogleVip()" ng-if="!vip">
                            <p>Vip клуб</p>
                            <a href="">Подробнее</a>
                        </div>
                    </div>
            </div>

             <div class="slide_4_result">
                <p>Итоговая стоимость:</p>
                <p class="result_num">
                    <span>{{current.loyaltyTariff.cartPrice | numberSapce}}</span> р.
                </p>
                <div class="slide_4_result_buttons">
                    <div class="left_btn cancel_btn" ng-click="clickCansel()">ОТМЕНА</div>
                    <div class="personal_btn" ng-click="sendJoin()">ВСТУПИТЬ</div>
                </div>
            </div>
            <div class="rules" ng-if="false">
                <div class="rules">
                    <p>* Нажимая на кнопку
                        <Вступить>, вы тем самым подтверждаете, что ознакомились с <a target="_blank" href="https://www.ulmart.ru/dynamic/page/taksa_rules">Полными правилами программы</a> и согласны с ними.
                    </p>
                    <p>
                        <span>Внимание!</span> Для оформдения заказа через колл-центр в рамках программы Кита, вам нужно будет назвать кодовое слово.<br>
                        Установить свое кодовое слово вы можете в личном кабинете по <a href="/cabinet/settings">ссылке</a>!
                    </p>
                </div>
            </div>
        <a href="" class="slide_4_img scroll_to_top" target="_self">
            <i class="fa fa-angle-up" aria-hidden="true"></i><br>
            <span>наверх</span>
        </a>

        <!-- <div class="dotted_block_3">.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br> -->


        <!-- </div> -->

        </div>
  </div>


        </div>

    </div>

    <ng-include src="'views/template/footer.html'"></ng-include> 


    <!-- модальные окна -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  modal 1
</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="">
                <div class="modal_1_window modal_window">
                    <i class="fa fa-times modal_1_window_close" class="close" data-dismiss="modal" aria-label="Close"></i>
                    <p>
                        Если у вас есть промокод,<br>
                        вы можете получить СВОЕГО КИТА<br>
                        прямо сейчас.
                    </p>
                    <form ng-submit="sendProme(therdPromeCode)">
                        <input type="input" placeholder="Промокод" ng-model="therdPromeCode"><br>
                        <input type="submit" value="ПРИМЕНИТЬ">
                    </form>
                </div>
        </div>
    </div>
  </div>
</div>
<!-- 
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
  modal 2
</button>
 -->
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="">
                <div class="modal_2_window modal_window">
                    <i class="fa fa-times modal_2_window_close" aria-hidden="true" class="close" data-dismiss="modal" aria-label="Close"></i>
                    <p>
                        Мы вас не узнали.
                    </p>
                    <p>
                        Для получения своего КИТА необходимо<br>
                        совершить вход на сайт или Зарегистрироваться.
                    </p>
                    <!--<form action="#">-->
                        <!--<input type="submit" value="ВОЙТИ НА САЙТ">-->
                    <!--</form>-->
                    <a href="http://dzdev13-public.ulmart.ru/login?target=/loyalty/business" class="modal_2_window_enter">ВОЙТИ НА САЙТ</a><br>
                    <a href="http://dzdev13-public.ulmart.ru/registration?target=/loyalty/landing_new" class="modal_2_window_registration">Зарегистрироваться</a>
                </div>
        </div>
      </div>
  </div>
</div>
<!-- 
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">
  modal 3
</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="">
                <div class="modal_3_window modal_window">
                    <i class="fa fa-times modal_3_window_close" aria-hidden="true" class="close" data-dismiss="modal" aria-label="Close"></i>
                    <i class="fa fa-exclamation-triangle modal-error" aria-hidden="true"></i>
                    <p>
                        ОШИБКА!
                    </p>
                    <p>
                        Ваш промокод не найден.<br>
                        Введите заново корректный промокод.
                    </p>
                    <form ng-submit="sendProme(promeCode)">
                        <input type="input" placeholder="Промокод" required ng-model="promeCode"><br>
                        <input type="submit" value="ПРИМЕНИТЬ">
                    </form>
                </div>
        </div>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal4">
  modal 4
</button>
 -->
<!-- Modal -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="">
            <div class="modal_4_window modal_window">
                <i class="fa fa-times modal_4_window_close" aria-hidden="true" class="close" data-dismiss="modal" aria-label="Close"></i>
                <i class="fa fa-exclamation-triangle modal-error" aria-hidden="true"></i>
                <p>
                    ОШИБКА!
                </p>
                <p>
                    Ваш промокод истек.
                </p>
                <p>
                   Введите заново корректный промокод.
                </p>
                <form ng-submit="sendProme(secondPromeCode)">
                    <input type="input" placeholder="Промокод" required ng-model="secondPromeCode"><br>
                    <input type="submit" value="ПРИМЕНИТЬ">
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
