                    <div class="container_main_item  taksa_1 one">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <a href="" class="screw screw_1" target="_self"></a>
                        <div class="container_main_item_header">
                            <span class="text-uppercase">косатка</span>
                        </div>
                        <div class="container_main_item_top">
                            <div class="col">
                                <div class="col_cost">
                                <i class="old">249 р.</i>
                                <span>179</span> р.
                                </div>
                             <!--    <span class="top_price">49 руб.</span>
                                <div class="top_price_line"></div> -->
                                <div class="question question_1m_1">
                                   <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" 
                                            Здесь может быть небольшой поясняющий текст для <br>
                                         этого пункта в конструкторе">?</a>
                                </div>
                                <!--</span>-->
                            </div>
                            <div class="col">
                                <span>На</span><br>
                                <span class="col_month">3 месяца</span>
                                <div class="question question_1m_2">
                                    <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                            </div>
                            <div class="col">
                                <span class="slim">Лимит</span><br>
                                <div class="col_limit">
                                    <span>100 000</span> р.
                                </div>
                                <div class="question question_1m_3">
                                   <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                            </div>
                        </div>
                        <div class="container_main_item_box">
                            <div class="container_main_item_box_price_list">
                                <span>Скидка на товар с цветными ценниками:</span>
                                <div class="percent">
                                    <div class="percent_col big">
                                        <img src="img/smile_green.png" alt="">
                                        <div class="percent_col_green"><span>1</span>%</div>
                                    </div>
                                    <div class="percent_col">
                                        <img src="img/smile_orange.png" alt="">
                                        <div class="percent_col_orange"><span>3</span>%</div>
                                    </div>
                                    <div class="percent_col">
                                        <img src="img/smile_purple.png" alt="">
                                        <div class="percent_col_purple"><span>5</span>%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="container_main_item_box_reserve">
                                <div id="reserve_1_toggle" class="container_main_item_box_reserve_toggle">
                                    <div class="question question_1m_4">
                                       <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                    </div>
                                    <span>Настройки получения товара:</span><br>
                                    <span>
                                        2 дня | 50 000 руб. или 3 ед.товара | <br>
                                        90 % от лимита ТАКСЫ
                                    </span>
                                    <!-- <img src="img/arrow.png" alt=""> -->
                                </div>
                                <div id="reserve_1_dropdown" class="container_main_item_box_reserve_dropdown">
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                            <!--<input type="checkbox" checked disabled>-->
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>
                                            <span>Срок резерва 2 дня</span>
                                        </div>
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>
                                        <span>Продление резевра</span>
                                    </div>
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                        <!--<input type="checkbox" checked disabled> -->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>
                                        <span>Сумма резевра 50 000 руб. / 3 ед. товара</span>
                                    </div>
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>
                                        <span>Процент выкупленных резервов:<br>
                                        70-90% от лимита ТАКСЫ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="container_main_item_box_moneyback">
                                <div id="moneyback_toggle_1" class="container_main_item_box_moneyback_toggle">
                                    <div class="question question_1m_5">
                                       <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                    </div>
                                    <!-- <img src="img/arrow.png" alt=""> -->
                                    <span>Настройка Moneyback:<br>
                                    14 дней | не <20% от лимита ТАКСЫ</span>
                                </div>
                                <div id="moneyback_dropdown_1" class="container_main_item_box_moneyback_dropdown">
                                    <div class="container_main_item_box_moneyback_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_moneyback_dropdown_item_sqr"></div>
                                        <span>Moneyback 14 дней</span>
                                    </div>
                                    <div class="container_main_item_box_moneyback_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_moneyback_dropdown_item_sqr"></div>
                                        <span>Сумма moneyback не больше 20%<br>
                                        от лимита таксы</span>
                                    </div>
                                </div>
                            </div>
                            <div class="container_main_item_box_receipt">
                                <div id="receipt_toggle_1" class="container_main_item_box_receipt_toggle">
                                    <div class="question question_1m_6">
                                      <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                    </div>
                                    <span>Настройка получения товара:</span><br>
                                    <span>в любом объекте Юлмарт,</span>
                                    <span>в пиковое время</span>
                                    <!-- <img src="img/arrow.png" alt=""> -->
                                </div>
                                    <div id="receipt_dropdown_1" class="container_main_item_box_receipt_dropdown">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_receipt_dropdown_item_sqr"></div>
                                        <span>Время прибытия клиента - в пиковое<br>
                                        время работы Юлмарт.</span>
                                    </div>
                            </div>
                            <div class="container_main_item_box_year">
                                <div class="question question_1m_7">
                                   <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Количество покупок 1 раз в год</span>
                            </div>
                            <div class="container_main_item_box_priority">
                                <div class="question question_1m_8">
                                    <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span class="priority_first_span">Приоритетные звонки</span><br>
                                <span>в call-центр</span>
                                <div class="switch">
                                    <span>200 р.</span>
                                    <img class="blue" src="img/mark_blue.png" alt="">
                                    <img class="gray" src="img/mark_gray.png" alt="">
                                </div>
                            </div>
                            <div class="container_main_item_box_delivery">
                                <div class="question question_1m_9">
                                  <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Скидка на пакет</span><br>
                                <span>доставок (10 шт.)</span>
                                <div class="container_main_item_box_delivery_no_btn">
                                    <span>нет</span>
                                </div>
                            </div>
                            <div class="container_main_item_box_zvooq">
                                <div class="question question_1m_10">
                                  <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Подписка на Zvooq:</span><br>
                                <div class="switch">
                                    <span>149 р.</span>
                                    <img class="blue" src="img/mark_blue.png" alt="">
                                    <img class="gray" src="img/mark_gray.png" alt="">
                                </div>
                            </div>
                            <div class="container_main_item_box_bookmate">
                                <div class="question question_1m_11">
                                  <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Подписка на Bookmate:</span><br>
                                <div class="switch">
                                    <span>349 р.</span>
                                    <img class="blue" src="img/mark_blue.png" alt="">
                                    <img class="gray" src="img/mark_gray.png" alt="">
                                </div>
                            </div>
                        </div>
                        
                        <div class="container_main_item_turn_block turn_1" ng-click="changeHeight()">
                            <img src="img/turn_btn.png" alt=""><span id="turn_1" class="turn_1">Подробнее</span>
                        </div>

                        <!-- hidden_form_1 -->

                        <form  class="form_1" method="post" action="/loyalty/confirm">
                            <input type="hidden" value="1" name="programId"/>
                        </form>

                        <!-- hidden_form_1 -->


                    </div>

                    <div class="container_main_item taksa_2 three blue">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <a href="" class="screw screw_2" target="_self"></a>
                        <div class="container_main_item_header">
                            <span class="text-uppercase">синий кит</span>
                        </div>
                        <div class="container_main_item_top">
                            <div class="col">
                                <div class="col_cost"><span>499</span> р.</div>
                               <!--  <span class="top_price">599 руб.</span>
                                <div class="top_price_line"></div> -->
                                <div class="question question_2m_1">
                                   <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                            </div>
                            <div class="col">
                                <span>На</span><br>
                                <span class="col_month">6 месяцев</span>
                                <div class="question question_2m_2">
                                   <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                            </div>
                            <div class="col">
                                <span class="slim">Лимит</span><br>
                                <div class="col_limit">
                                    <span>150000</span> р.
                                </div>
                                <div class="question question_2m_3">
                                  <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                            </div>
                        </div>
                        <div class="container_main_item_box">
                            <div class="container_main_item_box_price_list">
                                <span>Скидка на товар с цветными ценниками:</span>
                                <div class="percent">
                                    <div class="percent_col big">
                                        <img src="img/smile_green.png" alt="">
                                        <div class="percent_col_green"><span>2.5</span>%</div>
                                    </div>
                                    <div class="percent_col">
                                        <img src="img/smile_orange.png" alt="">
                                        <div class="percent_col_orange"><span>5</span>%</div>
                                    </div>
                                    <div class="percent_col">
                                        <img src="img/smile_purple.png" alt="">
                                        <div class="percent_col_purple"><span>7</span>%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="container_main_item_box_reserve">
                                <div id="reserve_1_toggle" class="container_main_item_box_reserve_toggle">
                                    <div class="question question_2m_4">
                                        <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                    </div>
                                    <span>Настройки получения товара:</span><br>
                                    <span>
                                        2 дня | 50 000 руб. или 3 ед.товара | <br>
                                        90 % от лимита ТАКСЫ
                                    </span>
                                    <!-- <img src="img/arrow.png" alt=""> -->
                                </div>
                                <div id="reserve_1_dropdown" class="container_main_item_box_reserve_dropdown">
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>
                                        <span>Срок резерва 2 дня</span>
                                    </div>
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>
                                        <span>Продление резевра</span>
                                    </div>
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                        <!--<input type="checkbox" checked disabled> -->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>
                                        <span>Сумма резевра 50 000 руб. / 3 ед. товара</span>
                                    </div>
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>
                                        <span>Процент выкупленных резервов:<br>
                                        70-90% от лимита ТАКСЫ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="container_main_item_box_moneyback">
                                <div id="moneyback_toggle_1" class="container_main_item_box_moneyback_toggle">
                                    <div class="question question_2m_5">
                                       <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                    </div>
                                    <!-- <img src="img/arrow.png" alt=""> -->
                                    <span>Настройка Moneyback:<br>
                                    14 дней | не <20% от лимита ТАКСЫ</span>
                                </div>
                                <div class="container_main_item_box_moneyback_dropdown">
                                    <div class="container_main_item_box_moneyback_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_moneyback_dropdown_item_sqr"></div>

                                        <span>Moneyback 14 дней</span>
                                    </div>
                                    <div class="container_main_item_box_moneyback_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_moneyback_dropdown_item_sqr"></div>

                                        <span>Сумма moneyback не больше 20%<br>
                                        от лимита таксы</span>
                                    </div>
                                </div>
                            </div>
                            <div class="container_main_item_box_receipt">
                                <div id="receipt_toggle_1" class="container_main_item_box_receipt_toggle">
                                    <div class="question question_2m_6">
                                       <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                    </div>
                                    <span>Настройка получения товара:</span><br>
                                    <span>в любом объекте Юлмарт,</span>
                                    <span>в пиковое время</span>
                                    <img src="img/arrow.png" alt="">
                                </div>
                                <div id="receipt_dropdown_1" class="container_main_item_box_receipt_dropdown">
                                    <!--<input type="checkbox" checked disabled>-->
                                    <i class="fa fa-check-square" aria-hidden="true"></i>
                                    <div class="container_main_item_box_receipt_dropdown_item_sqr"></div>

                                    <span>Время прибытия клиента - в пиковое<br>
                                        время работы Юлмарт.</span>
                                </div>
                            </div>
                            <div class="container_main_item_box_year">
                                <div class="question question_2m_7">
                                    <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Количество покупок 1 раз в год</span>
                            </div>
                            <div class="container_main_item_box_priority">
                                <div class="question question_2m_8">
                                   <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span class="priority_first_span">Приоритетные звонки</span><br>
                                <span>в call-центр</span>
                                <div class="switch">
                                    <span>200 р.</span>
                                    <img class="blue" src="img/mark_blue.png" alt="">
                                    <img class="gray" src="img/mark_gray.png" alt="">
                                </div>
                
                            </div>
                            <div class="container_main_item_box_delivery">
                                <div class="question question_2m_9">
                                   <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Скидка на пакет</span><br>
                                <span>доставок (10 шт.)</span>
                                <div class="switch">
                                    <span>300 р.</span>
                                    <img class="blue" src="img/mark_blue.png" alt="">
                                    <img class="gray" src="img/mark_gray.png" alt="">
                                </div>
                            </div>
                            <div class="container_main_item_box_zvooq">
                                <div class="question question_2m_10">
                                   <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Подписка на Zvooq:</span><br>
                                <div class="switch">
                                    <span>449 р.</span>
                                    <img class="blue" src="img/mark_blue.png" alt="">
                                    <img class="gray" src="img/mark_gray.png" alt="">
                                </div>
                            </div>
                            <div class="container_main_item_box_bookmate">
                                <div class="question question_2m_11">
                                 <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Подписка на Bookmate:</span><br>
                                <div class="switch">
                                    <span>1049 р.</span>
                                    <img class="blue" src="img/mark_blue.png" alt="">
                                    <img class="gray" src="img/mark_gray.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="container_main_item_turn_block turn_2" ng-click="changeHeight()">
                            <img src="img/turn_btn.png" alt="">
                            <span id="turn_2" class="turn_2">Подробнее</span>
                        </div>

                         <!-- hidden_form_2 -->

                            <form  class="form_2" method="post" action="/loyalty/confirm">
                                    <input type="hidden" value="1" name="programId"/>
                                   <!--  <input type="hidden" name="ivLevelId" value="7"/>
                                    <input type="hidden" name="reservationPeriod" value="2">
                                    <input type="hidden" name="moneyBack" value="14"> -->
                            </form>

                        <!-- hidden_form_2 -->

                    </div>

                    <div class="container_main_item taksa_3 four">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <a href="" class="screw screw_3" target="_self"></a>
                        <div class="container_main_item_header">
                            <span>ТАКСА 12 МЕТРОВ</span>
                        </div>
                        <div class="container_main_item_top">
                            <div class="col">
                                <div class="col_cost"><span>749</span> р.</div>
                               <!--  <span class="top_price">999 руб.</span>
                                <div class="top_price_line"></div> -->
                                <div class="question question_3m_1">
                                   <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                            </div>
                            <div class="col">
                                <span>На</span><br>
                                <span class="col_month">12 месяцев</span>
                                <div class="question question_3m_2">
                                   <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                            </div>
                            <div class="col">
                                <span class="slim">Лимит</span><br>
                                <div class="col_limit">
                                    <span>250000</span> р.
                                </div>
                                <div class="question question_3m_3">
                                   <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                            </div>
                        </div>
                        <div class="container_main_item_box">
                            <div class="container_main_item_box_price_list">
                                <span>Скидка на товар с цветными ценниками:</span>
                                <div class="percent">
                                    <div class="percent_col big">
                                        <img src="img/smile_green.png" alt="">
                                        <div class="percent_col_green"><span>3</span>%</div>
                                    </div>
                                    <div class="percent_col">
                                        <img src="img/smile_orange.png" alt="">
                                        <div class="percent_col_orange"><span>6</span>%</div>
                                    </div>
                                    <div class="percent_col">
                                        <img src="img/smile_purple.png" alt="">
                                        <div class="percent_col_purple"><span>10</span>%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="container_main_item_box_reserve">
                                <div id="reserve_1_toggle" class="container_main_item_box_reserve_toggle">
                                    <div class="question question_3m_4">
                                       <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                    </div>
                                    <span>Настройки получения товара:</span><br>
                                    <span>
                                        2 дня | 50 000 руб. или 3 ед.товара | <br>
                                        90 % от лимита ТАКСЫ
                                    </span>
                                    <!-- <img src="img/arrow.png" alt=""> -->
                                </div>
                                <div id="reserve_1_dropdown" class="container_main_item_box_reserve_dropdown">
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>

                                        <span>Срок резерва 2 дня</span>
                                    </div>
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>

                                        <span>Продление резевра</span>
                                    </div>
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                        <!--<input type="checkbox" checked disabled> -->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>

                                        <span>Сумма резевра 50 000 руб. / 3 ед. товара</span>
                                    </div>
                                    <div class="container_main_item_box_reserve_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_reserve_dropdown_item_sqr"></div>

                                        <span>Процент выкупленных резервов:<br>
                                        70-90% от лимита ТАКСЫ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="container_main_item_box_moneyback">
                                <div id="moneyback_toggle_1" class="container_main_item_box_moneyback_toggle">
                                    <div class="question question_3m_5">
                                       <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                    этого пункта в конструкторе">?</a>
                                </div>
                                    <!-- <img src="img/arrow.png" alt=""> -->
                                    <span>Настройка Moneyback:<br>
                                    14 дней | не <20% от лимита ТАКСЫ</span>
                                </div>
                                <div class="container_main_item_box_moneyback_dropdown">
                                    <div class="container_main_item_box_moneyback_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_moneyback_dropdown_item_sqr"></div>

                                        <span>Moneyback 14 дней</span>
                                    </div>
                                    <div class="container_main_item_box_moneyback_dropdown_item">
                                        <!--<input type="checkbox" checked disabled>-->
                                        <i class="fa fa-check-square" aria-hidden="true"></i>
                                        <div class="container_main_item_box_moneyback_dropdown_item_sqr"></div>

                                        <span>Сумма moneyback не больше 20%<br>
                                        от лимита таксы</span>
                                    </div>
                                </div>
                            </div>
                            <div class="container_main_item_box_receipt">
                                <div id="receipt_toggle_1" class="container_main_item_box_receipt_toggle">
                                    <div class="question question_3m_6">
                                       <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                    </div>
                                    <span>Настройка получения товара:</span><br>
                                    <span>в любом объекте Юлмарт,</span>
                                    <span>в пиковое время</span>
                                    <img src="img/arrow.png" alt="">
                                </div>
                                <div id="receipt_dropdown_1" class="container_main_item_box_receipt_dropdown">
                                    <!--<input type="checkbox" checked disabled>-->
                                    <i class="fa fa-check-square" aria-hidden="true"></i>
                                    <div class="container_main_item_box_receipt_dropdown_item_sqr"></div>

                                    <span>Время прибытия клиента - в пиковое<br>
                                        время работы Юлмарт.</span>
                                </div>
                            </div>
                            <div class="container_main_item_box_year">
                                <div class="question question_3m_7">
                                   <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Количество покупок 1 раз в год</span>
                            </div>
                            <div class="container_main_item_box_priority">
                                <div class="question question_3m_8">
                                  <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span class="priority_first_span">Приоритетные звонки</span><br>
                                <span>в call-центр</span>
                                <div class="switch">
                                    <span>200 р.</span>
                                    <img class="blue" src="img/mark_blue.png" alt="">
                                    <img class="gray" src="img/mark_gray.png" alt="">
                                </div>
                            </div>
                            <div class="container_main_item_box_delivery">
                                <div class="question question_3m_9">
                                   <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Скидка на пакет</span><br>
                                <span>доставок (10 шт.)</span>
                                <div class="switch">
                                    <span>500 р.</span>
                                    <img class="blue" src="img/mark_blue.png" alt="">
                                    <img class="gray" src="img/mark_gray.png" alt="">
                                </div>
                            </div>
                            <div class="container_main_item_box_zvooq">
                                <div class="question question_3m_10">
                                   <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Подписка на Zvooq:</span><br>
                                <div class="switch">
                                    <span>539 р.</span>
                                    <img class="blue" src="img/mark_blue.png" alt="">
                                    <img class="gray" src="img/mark_gray.png" alt="">
                                </div>
                            </div>
                            <div class="container_main_item_box_bookmate">
                                <div class="question question_3m_11">
                                   <a  href="#" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" Здесь может быть небольшой поясняющий текст для <br>
                                            этого пункта в конструкторе">?</a>
                                </div>
                                <span>Подписка на Bookmate:</span><br>
                                <div class="switch">
                                    <span>1259 р.</span>
                                    <img class="blue" src="img/mark_blue.png" alt="">
                                    <img class="gray" src="img/mark_gray.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="container_main_item_turn_block turn_3" ng-click="changeHeight()">
                            <img src="img/turn_btn.png" alt="">
                            <span id="turn_3" class="turn_3">Подробнее</span>
                        </div>

                         <!-- hidden_form_3 -->

                            <form  class="form_3" method="post" action="/loyalty/confirm">
                                    <input type="hidden" value="1" name="programId"/>
                                   <!--  <input type="hidden" name="ivLevelId" value="7"/>
                                    <input type="hidden" name="reservationPeriod" value="2">
                                    <input type="hidden" name="moneyBack" value="14"> -->
                            </form>

                        <!-- hidden_form_3 -->

                    </div>