
<div class="banner_main">
    <div class="banner_main_buttons">
        <button class="taksa_btn top green_btn active_btn" ng-click="changeDiscont('greenDiscount')">
        <img class="taksa_btn_white" src="img/sm.png" alt="">
        <img class="taksa_btn_color" src="img/smile_green.png" alt="">
       
        </button><br>
        <button class="taksa_btn middle orange_btn" ng-click="changeDiscont('yellowDiscount')">
        <img class="taksa_btn_white" src="img/sm2.png" alt="">
        <img class="taksa_btn_color" src="img/smile_orange.png" alt="">
 
        </button><br>
        <button class="taksa_btn bottom purple_btn" ng-click="changeDiscont('redDiscount')">
        <img class="taksa_btn_white" src="img/sm1.png" alt="">
        <img class="taksa_btn_color" src="img/smile_purple.png" alt="">
    
        </button>
    </div>



    <div class="banner_main_slider">
        <div class="banner_main_slider_1 single-slide">
            <div class="banner_main_slider_1_phone single-slide-phone">
                <img src="img/kit/greenitem.jpg" alt="">
            </div>

            <div class="banner_main_slider_1_content slide_content">
                    <p class="slide-title">
                        Смартфон Apple iPhone 6S 32Gb Space Gray, MN0W2RU/A
                    </p>
                    <span class="banner_main_slider_1_content_price content_price"><span><ng-odometer value="newCost.phone"></ng-odometer></span> руб.</span>
                    <img src="img/smile_green.png" class="banner_main_slider_1_content_smile content_smile" alt="">
                    <span class="banner_main_slider_1_content_percent content_percent"><span>{{getNewPersent(current.loyaltyTariff.greenDiscount)}}</span> %</span>
                    <div class="banner_main_slider_1_content_line content_line"></div>
                    <p class="banner_main_slider_1_content_summ base_price_1 price"><span class="old-cost">{{oldCost.phone | numberSapce}}</span> руб.</p>
                    <p class="bonuse"><i>Бонус: </i><span ng-if="current">{{getBonuse(current.loyaltyTariff.greenDiscount, 'phone') | numberSapce}}</span> руб.</p>
            </div>

        </div>


        <div class="banner_main_slider_1 single-slide">
            <div class="banner_main_slider_1_phone single-slide-phone">
                <img src="img/kit/yellowitem.jpg" alt="">
            </div>

            <div class="banner_main_slider_1_content slide_content">
                    <p class="slide-title">
                        ноутбук Acer Aspire ES1-522-89U0, NX.G2LER.019
                    </p>
                    <span class="banner_main_slider_1_content_price content_price"><span><ng-odometer value="newCost.tv"></ng-odometer></span> руб.</span>
                    <img src="img/smile_orange.png" class="banner_main_slider_1_content_smile content_smile" alt="">
                    <span class="banner_main_slider_1_content_percent content_percent"><span>{{getNewPersent(current.loyaltyTariff.yellowDiscount)}}</span> %</span>
                    <div class="banner_main_slider_1_content_line content_line"></div>
                    <p class="banner_main_slider_1_content_summ base_price_1 price"><span class="old-cost">{{oldCost.tv | numberSapce}}</span> руб.</p>
                    <p class="bonuse"><i>Бонус: </i><span ng-if="current">{{getBonuse(current.loyaltyTariff.yellowDiscount, 'tv') | numberSapce}}</span> руб.</p>
            </div>

        </div>


        <div class="banner_main_slider_1 single-slide">
            <div class="banner_main_slider_1_phone single-slide-phone">
                <img src="img/kit/reditem.jpg" alt="">
            </div>

            <div class="banner_main_slider_1_content slide_content">
                    <p class="slide-title">
                        персональный компьютер MicroXperts [C200-14]
                    </p>
                    <span class="banner_main_slider_1_content_price content_price"><span><ng-odometer value="newCost.bike"></ng-odometer></span> руб.</span>
                    <img src="img/smile_purple.png" class="banner_main_slider_1_content_smile content_smile" alt="">
                    <span class="banner_main_slider_1_content_percent content_percent"><span>{{getNewPersent(current.loyaltyTariff.redDiscount)}}</span> %</span>
                    <div class="banner_main_slider_1_content_line content_line"></div>
                    <p class="banner_main_slider_1_content_summ base_price_1 price"><span class="old-cost">{{oldCost.bike | numberSapce}}</span> руб.</p>
                    <p class="bonuse"><i>Бонус: </i><span ng-if="current">{{getBonuse(current.loyaltyTariff.redDiscount, 'bike') | numberSapce}}</span> руб.</p>
            </div>

        </div>

    </div>
</div>