
<div class="pre_footer">
        <div class="pre_footer_container">
            <p>ОСТАЛИСЬ ВОПРОСЫ?</p>
            <div class="pre_footer_container_col_left">
                <p>Посмотрите видео о работе</p>
                <iframe width="100%" height="200" src="https://www.youtube.com/v/TFBIomJ61-k" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="pre_footer_container_col_center">
                <a target="_blank" href="https://corp.ulmart.ru/dynamic/page/kit_faq">Часто задаваемые вопросы</a>
                <a target="_blank" href="https://corp.ulmart.ru/dynamic/page/kit_rules">Полные правила программы</a>
                <a target="_blank" href="http://corp.ulmart.ru/about_b2b/spb/privacy_policy_b2b">Политика конфиденциальности</a>
                <a target="_blank" href="http://corp.ulmart.ru/about_b2b/spb/mpage2">Основные сервисы и услуги Юлмарта</a>
            </div>
            <div class="pre_footer_container_col_right">
                <p>Задайте свой вопрос</p>
                <form action="#">
                    <input type="e-mail" placeholder="E-mail"><br>
                    <input type="textarea" placeholder="Сообщение" rows="50"><br>
                    <input type="submit" value="ДОБАВИТЬ">
                </form>
            </div>
        </div>
</div>

<div class="footer">
        <div class="footer_container">
            <p>
                Программа лояльности КИТ, версия 2.0<br>
                Все права на использование материалов принадлежат ООО "Юлмарт РСК"
            </p>
            <a target="_self" href=""><img src="img/rss.jpg" alt=""></a>
            <a target="_self" href=""><img src="img/linkedin.jpg" alt=""></a>
            <a target="_self" href=""><img src="img/pi.jpg" alt=""></a>
            <a href="https://plus.google.com/b/102298704406930774476/102298704406930774476/" target="_blank" title="Google+"><img src="img/google.jpg" alt=""></a>
            <a href="https://www.facebook.com/I.love.Ulmart" target="_blank" title="Facebook"><img src="img/facebook.jpg" alt=""></a>
            <a href="https://www.twitter.com/Ulmart_ru" target="_blank" title="Twitter"><img src="img/twetter.jpg" alt=""></a>
        </div>
</div>