<div class="get-type">
        <div class="container_main" >

            <div class="col-xs-5">
                <h3 class="text-right">Способ получения выгоды
                    <div class="question question_2m_3">
                        <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" ? Вы сами выбираете, как использовать вашу выгоду: можете получать 100% выгоды в виде скидки на товар, а можете – в виде XXL-бонусов на счёт. Сложно сделать выбор? Выберите 50% / 50%.">?</a>
                    </div>
                </h3>
            </div>

            <div class="col-xs-7">
                <ul class="list-unstyled">
                    <li  ng-click="changeBonuseType('one')" ng-class="{'current-get-type': bonuseType.one}">
                        <span>100%</span>
                        <span>бонусов на счет</span>
                    </li>
                    <li ng-click="changeBonuseType('two')" ng-class="{'current-get-type': bonuseType.two}" >
                        <span>50% бонусов на счет</span>
                        <span>50% бонусов в скидку</span>
                    </li>
                    <li ng-click="changeBonuseType('three')" ng-class="{'current-get-type': bonuseType.three}">
                        <span>100%</span>
                        <span>бонусов в скидку</span>
                    </li>
                </ul>
            </div>

        </div>
</div> 