
 <div class="banner_main">
        <div class="banner_main_buttons">
            <button class="taksa_btn top green_btn active_btn" ng-click="changeDiscont('greenDiscount')">
            <img class="taksa_btn_white" src="img/sm.png" alt="">
            <img class="taksa_btn_color smile_size" src="img/smile_green.png" alt="">
            <span class="one">Зеленая категория</span>
            </button><br>
            <button class="taksa_btn middle orange_btn" ng-click="changeDiscont('yellowDiscount')">
            <img class="taksa_btn_white" src="img/sm2.png" alt="">
            <img class="taksa_btn_color smile_size" src="img/smile_orange.png" alt="">
            <span class="two">Оранжевая категория</span>
            </button><br>
            <button class="taksa_btn bottom purple_btn" ng-click="changeDiscont('redDiscount')">
            <img class="taksa_btn_white" src="img/sm1.png" alt="">
            <img class="taksa_btn_color smile_size" src="img/smile_purple.png" alt="">
            <span class="three">Фиолетовая категория</span>
            </button>
        </div>




        <div class="banner_main_slider">
            <div class="banner_main_slider_1">
                <div class="banner_main_slider_1_phone">
                    <img src="img/kit/greenitem.jpg" alt="" class="main-slider-image">
                </div>

                <div class="banner_main_slider_1_content">
                        <p>
                            Смартфон Apple iPhone <br>
                            SE 16GbRose Gold MLXN2RU/A
                        </p>

                        
                        <span class="banner_main_slider_1_content_price"><span><ng-odometer value="newCost.phone"></ng-odometer></span> руб.</span>
                         <div class="question question_1">

                                <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" ? Это цена на товар, которую вы получите после вступления в программу. Здесь Вы можете посмотреть на примере демонстрационного товара, какую скидку на товар вы получите по каждой из программ. А также Вы можете увидеть сумму XXL-бонусов, какую вы получите приобретая данный товар.">?</a>

                                <p class="bonuse"><i>Бонус: </i><span ng-if="current">{{getBonuse(current.loyaltyTariff.greenDiscount, 'phone') | numberSapce}}</span> руб.</p>
                            </div>
                        <img src="img/smile_green.png" class="banner_main_slider_1_content_smile smile_size" alt="">
                        <span class="banner_main_slider_1_content_percent"><span>{{getNewPersent(current.loyaltyTariff.greenDiscount)}}</span>%</span>

                        <div class="phone_top_price_line"></div>
                        <p class="base_price_1"><span>{{oldCost.phone | numberSapce}}</span> руб.</p>

                </div>
            
            </div>

            <div class="banner_main_slider_2">
                <div class="banner_main_slider_2_phone">
                    <img src="img/kit/yellowitem.jpg" alt="" class="main-slider-image">
                </div>

                <div class="banner_main_slider_2_content">
                       <p>
                           Телевизор Sony <br>
                           KDL-40RD453
                        </p>
                        <span class="banner_main_slider_2_content_price"><span><ng-odometer value="newCost.tv"></ng-odometer></span> руб.</span>
                         <div class="question question_2">

                               <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" ? Это цена на товар, которую вы получите после вступления в программу. Здесь Вы можете посмотреть на примере демонстрационного товара, какую скидку на товар вы получите по каждой из программ. А также Вы можете увидеть сумму XXL-бонусов, какую вы получите приобретая данный товар.">?</a>

                                <p class="bonuse"><i>Бонус: </i><span ng-if="current">{{getBonuse(current.loyaltyTariff.yellowDiscount, 'tv') | numberSapce}}</span> руб.</p>
                            </div>
                        <img src="img/smile_orange.png" class="banner_main_slider_2_content_smile smile_size" alt="">
                        <span class="banner_main_slider_2_content_percent"><span>{{getNewPersent(current.loyaltyTariff.yellowDiscount)}}</span> %</span>

                        <div class="phone_top_price_line"></div>
                    <p class="base_price_2"><span>{{oldCost.tv | numberSapce}}</span> руб.</p>

                </div>


                 <div class="banner_main_slider_3">
                <div class="banner_main_slider_3_phone">
                    <img src="img/kit/reditem.jpg" alt="" class="main-slider-image">
                </div>

                <div class="banner_main_slider_3_content">
                       <p>
                           Велосипед Scott Sub <br>
                           Speed 40 (2015)
                        </p>
                        <span class="banner_main_slider_3_content_price"><span><ng-odometer value="newCost.bike"></ng-odometer></span> руб.</span>
                         <div class="question question_3">

                                <a target="_self" href="" data-toggle="tooltip" data-placement="top" data-trigger="focus" data-html="true" data-title=" ? Это цена на товар, которую вы получите после вступления в программу. Здесь Вы можете посмотреть на примере демонстрационного товара, какую скидку на товар вы получите по каждой из программ. А также Вы можете увидеть сумму XXL-бонусов, какую вы получите приобретая данный товар.">?</a>

                                <p class="bonuse"><i>Бонус: </i><span ng-if="current">{{getBonuse(current.loyaltyTariff.redDiscount, 'bike') | numberSapce}}</span> руб.</p>
                            </div>
                        <img src="img/smile_purple.png" class="banner_main_slider_3_content_smile smile_size" alt="">
                        <span class="banner_main_slider_3_content_percent"><span>{{getNewPersent(current.loyaltyTariff.redDiscount)}}</span> %</span>

                        <div class="phone_top_price_line"></div>
                    <p class="base_price_3"><span>{{oldCost.bike | numberSapce}}</span> руб.</p>

                </div>
            </div>
            
            </div>

        </div>

</div> 