<div class="rules">
    <div class="rules">
        <p>* Нажимая на кнопку
            <Вступить>, вы тем самым подтверждаете, что ознакомились с <a target="_blank" href="https://www.ulmart.ru/dynamic/page/taksa_rules">Полными правилами программы</a> и согласны с ними.
        </p>
        <p>
            <span>Внимание!</span> Для оформдения заказа через колл-центр в рамках программы Кита, вам нужно будет назвать кодовое слово.<br>
            Установить свое кодовое слово вы можете в личном кабинете по <a href="/cabinet/settings">ссылке</a>!
        </p>
    </div>
</div>